// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

body {
  font-family: Helvetica;
}

.bespoke-parent {
  background: #999999;
  color: #bb99ff;
}

.bespoke-slide {
  background: #f2f2f2;
  transition: all .8s ease;
  transform-origin: 50% 50% -400px;
}

.bespoke-inactive {
  opacity: 0;
}

.bespoke-before {
  transform: rotateY(-90deg);
}

.bespoke-after {
  transform: rotateY(90deg);
}

h3, li {
  color: #42d4ca;
}

#people {
  height: 50%;
}

#cake {
  height: 30%;
  margin-bottom: 20px;
}

li {
  font-size: 1.5em;
}

#google {
  width: 200px;
  height: 100px;
}

#jobs, #cakeslide, #peopleslide, #end {
  background: white;
}

#microsoft, #amazon {
  width: 100px;
  height: 100px;
}

img {
  padding-bottom: 0;
  margin-bottom: 0;
}

.bespoke-slide #emphatic {
  width: 100%;
}

#happy {
  height: 100px;
}
 
#camera {
  text-align: center;
}